.cabecalho {
  padding: 50px 50px 50px 50px;
  color: rgb(26, 103, 167);
  background-color: rgb(39, 43, 51);
}

h2 {
  text-align: center;
  padding-top: 30px;
}

a {
  margin: 0 5px;
  text-decoration: none;
  color: rgb(6, 26, 82);
}
a:hover {
  text-decoration: none;
  color: #021853;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
}