header {
    background-color: #040c4e;
    color: rgb(96, 164, 228);
    padding: 1em;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center; /* Alinhar Verticalmente | */
    justify-content: center; /* Alinhar Horizontalmente -- */
}